@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Road+Rage&display=swap');

html * {
    /* resetando o CSS */
    margin: 0;
    padding: 0;
}

#fundo {
    background-image: url("https://i.pinimg.com/originals/4b/4a/5c/4b4a5c91048bf745c3cd96c18e3a3894.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#titulo {
    color: white;
    text-align: center;
    font-family: 'Road Rage', cursive;
    font-size: 45px;
    background-color: rgba(17, 17, 17, 0.9);
    padding: 20px;
}

#sobre {
    padding: 20px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    background-color: rgba(255,255,255,0.85);
}

#principal {
    text-align: center;
}

ul {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    background-color: rgba(17, 17, 17, 0.9);
    margin-left: 471px;
    margin-right: 471px;
    padding: 10px;
   
}

.info {
        color: white;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-size: 50px;   
        font-weight: 150;
        padding: 10px;
        background-color: rgba(17, 17, 17, 0.9);
        margin-left: 471px;
        margin-right: 471px;
}

#rodape {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 471px;
    margin-right: 471px;
    border-radius: 20px;
}

.icones {
    margin: 5px;
    width: 50px;
    height: 50px;
    
}
